---
title: DearMinor
---
<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>DIOMINOR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ site.data.navigation[0].link }}" class="logo">DOMINO</a>
					<nav id="nav">
						{% for item in site.data.navigation %}
							<a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>
	             {{ item.name }}
	            </a>
						{% endfor %}
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Diominor's Repository</h1>
				<p>취미메모아무거나의미없이모아논저장소</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<p>
							Recent Programming Post<br>
							최근 프로그래밍 글
						</p>
					</header>
					<div class="flex flex-3">
						{% for post in site.categories.programming limit:3 %}
						<article>
							<header>
								<h3>{{ post.title }}</h3>
								<p> {{ post.date | date_to_string }} </p>
							</header>
							<p>{{ post.excerpt | strip_html | truncatewords: 30}}</p>
							<footer>
								<a href="{{ post.url | prepend: site.baseurl }}" class="button special">More</a>
							</footer>
						</article>
						{% endfor %}
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<p>
							Recent M.L. Post<br>
							최근 머신러닝 글
						</p>
					</header>
					<div class="flex flex-4">
						{% for post in site.categories.machine_learning limit:3 %}
							<div class="box person">
								<a href="{{ post.url | prepend: site.baseurl }}">
									<div class="image round">
										<img src= {{ post.image }} alt="{{ post.title }}" >
									</div>
									<h3>{{ post.title }}</h3>
								</a>
								<p>{{ post.date | date_to_string }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>

<!-- Three
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Recent Blog</h2>
						<p>최근 블로글</p>
					</header>
					<div class="flex flex-2">
						{% for post in site.categories.blog limit:2 %}
							<article>
								<a href="{{ post.url | prepend: site.baseurl }}">
								<div class="image fit">
									<img src={{ post.image }} />
								</div>
								</a>
								<header>
									<h3>{{ post.title }}</h3>
									<p> {{ post.date | date_to_string }} </p>
								</header>
								<p>{{ post.excerpt | strip_html | truncatewords: 20}}</p>
								<footer>
									<a href="{{ post.url | prepend: site.baseurl }}" class="button special">More</a>
								</footer>
							</article>
						{% endfor %}
					</div>
				</div>
			</section>
-->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/The.Back.I.Am" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/backgom2357/" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:backgom2357@gmail.com" class="icon fa-envelope"><span class="label">Github</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
